{% extends 'flatpages/default.html' %} 
{% load custom_filters %}
 
{% block title %}
Новости
{% endblock title %}
 
{% block content %}
<h1>Все новости</h1>
    <h3>{{ time_now }}</h3> 
    Новостей: {{ posts | length}} шт.
    <hr>
    {% if posts %} 
        {% for post in posts %}
            <span><h3><a href="{{ post.id }}">{{ post.header | censor  }} </a></h3>
            <p><i>{{ post.creation_date_time| date:'d-M-Y g:i' }}</i> |
            {{ post.main_text|censor|truncatechars:50 }}</p></span>
        {% endfor %}
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    {% if is_paginated %}  <!-- Pagination block -->
        <!-- Previous page and first page -->
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}
    
        <!-- Current page and neigbours -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
    
        <!-- Next page and last page link -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}