{% extends 'flatpages/default.html' %} 
{% load custom_filters %}
 
{% block title %}
Новости
{% endblock title %}
 
{% block content %}
<h1>Все новости</h1>
    <h3>{{ time_now }}</h3> 
    Новостей: {{ posts | length}} шт.
    <hr>
    {% if posts %} 
        {% for post in posts %}
            <span><h3><a href="{{ post.id }}">{{ post.header | censor  }} </a></h3>
            <p><i>{{ post.creation_date_time| date:'d-M-Y g:i' }}</i> |
            {{ post.main_text|censor|truncatechars:50 }}</p></span>
        {% endfor %}
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}